.footer {
    height: 129px;
    background-color: #4619AC;
}

.footer-container {
    max-width: 1146px;
    margin: 0 auto;
}

.footer-container > div {
    display: flex;
}

.footer ul{
    display: grid;
    grid-row-gap: 0;
    grid-column-gap: 2rem;
    grid-auto-flow: column;
    padding-left: 0px;
}

.footer ul > li{
    text-decoration: none;
    list-style-image: url('/public/e4.png');
}

.footer ul > li:first-child{
    list-style: none;
}

.footer ul > li > a{
    color: white;
    padding-left: 10px;
    text-decoration: none;
}

.bottom-line{
    color: #FFFFFFBF;
    font-size: 14px;
}

@media only screen and (max-width: 768px) {
    .footer ul{
        display: block;
    }
    .footer ul > li{
        margin-bottom: 5px;
    }
}